.topic-editor {
  display: flex;
  flex-direction: column;
  background-color: #e5f1f9;
  color: black;
  margin: 20px;
  padding: 20px;
  box-shadow: 5px 5px black;
  align-items: center;
  width: 650px;
  font-weight: bold;
}

.top-title {
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 15px;
}

.field {
  display: flex;
  flex-direction: column;
  margin: 5px 0px;
  align-items: center;
  width: 95%;
}
.field input {
  margin: 5px;
  width: 100%;
  padding: 10px;
  font-size: 14px;
}

.field textarea {
  font-family: 'Roboto', Arial, Helvetica;
  margin: 5px;
  resize: none;
  width: 100%;
  height: 70px;
  padding: 10px;
  font-size: 14px;
}

.topic-editor button {
  font-weight: bold;
}
